.App {
margin-left: 20px;
margin-right: 20px;
margin-top: 10%;
}

.orkz-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.ork {
  display: block;
  background-color: antiquewhite;
  width: 20%;
  border: 2px solid black;
  
}

.beer-list {
  display: flex;
  flex-direction: row;
  background: #FFF897;
  background: -moz-linear-gradient(top, #FFF897 0%, #ECD900 25%, #DF8D03 100%);
  background: -webkit-linear-gradient(top, #FFF897 0%, #EC9D00 25%, #DF8D03 100%);
  background: linear-gradient(to bottom, #FFF897 0%, #EC9D00 25%, #DF8D03 100%);

  font-weight: bolder;
}

.beer {
  border: 2px solid black;
  width: fit-content;
}

.album-list {
  display: flex;
}

.album {
  display: block;
  margin: 8px;
  border: 2px solid whitesmoke;
  color: white;
  background-color: black;
  }